html, body 
    height: 100%

.application
    height: 100%

.cover-page
    height: 100%
    width: 100%

    &.standard-background
        background-image: url(../assets/images/backgrounds/ws_Bridge_1280x720.jpg)
        background-size: cover


.standardCentralSection
    display: table
    height: 100%
    margin: 0 auto

    &__inner
        display: table-cell
        vertical-align: middle
        text-align: center

.mainHeader
    font-family: "Alexbrush-regular", Helvetica, Arial, sans-serif
    color: white;
    font-size: 240px;

