html, body 
    height: 100%

.application
    height: 100%

.standard-central-section
    display: table
    height: 100%
    margin: 0 auto

    &__inner
        display: table-cell
        vertical-align: middle
        text-align: center

h1.mainHeader
    font-family: "Alexbrush-regular", Helvetica, Arial, sans-serif
    color: white;
    font-size: 240px;

.main-description
    color: white
    font-family: "Sourcesanspro-extralight", Helvetica, Arial, sans-serif

.link
    color: white
    text-decoration: underline
    
    &:hover
        color: #b0c5a9
        text-decoration: none

h2.header
    font-family: "Sourcesanspro-semibold", Helvetica, Arial, sans-serif
    color: white;
    font-size: 40px;