@import "mixins";

f-face('Alexbrush-regular', 'alexbrush-regular', 'alexbrush', 'serif')
f-face('Sourcesanspro-regular', 'sourcesanspro-regular', 'sourcesanspro', 'serif')
f-face('Sourcesanspro-black', 'sourcesanspro-black', 'sourcesanspro', 'serif')
f-face('Sourcesanspro-bold', 'sourcesanspro-bold', 'sourcesanspro', 'serif')
f-face('Sourcesanspro-semibold', 'sourcesanspro-semibold', 'sourcesanspro', 'serif')
f-face('Sourcesanspro-extralight', 'sourcesanspro-extralight', 'sourcesanspro', 'serif')
